* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 600px;
}
.container .header {
  background-color: orangered;
  padding: 15px 40px 30px;
  color: white;
  text-align: center;
}
.container .header h2 {
  margin: 10px;
  font-size: 35px;
}
input {
  width: 75%;
  float: left;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
.addBtn {
  width: 25%;
  float: left;
  border: none;
  padding: 10px;
  background-color: white;
  color: gray;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.addBtn:hover {
  background-color: darkgray;
}
